{% load i18n %}
<div id="record-form-type-partial"
     class="flex flex-col gap-4 items-center">
    <div class="flex flex-row">
        {% for value, label in form.type.field.choices %}
            <label for="{{ form.type.id_for_label }}_{{ value }}"
                   class="cursor-pointer has-[:checked]:bg-green-500 has-[:disabled]:bg-gray-100 has-[:checked]:text-white has-[:checked]:font-semibold border-y-2 border-r-2 border-green-600 first:rounded-l-xl first:border-2 last:rounded-e-xl py-1 w-20 text-center">
                {{ label }}
                <input type="radio"
                       name="{{ form.type.html_name }}"
                       id="{{ form.type.id_for_label }}_{{ value }}"
                       value="{{ value }}"
                       class="hidden"
                       required
                       {% if not item or value not in item.get_available_record_types %}disabled{% endif %}
                       x-model="type">
            </label>
        {% endfor %}

    </div>
    <div class="grid grid-cols-3 w-full gap-2">
        <input type="number"
               name="value"
               class="w-16 h-8 pr-1 col-start-2 justify-self-center w-full"
               required
               tabindex="3"
               value="{{ record.value }}"
               {% if not item %}disabled{% endif %}>
        <div x-show="type == 'mass'">{% translate "g" %}</div>
        <div class=""
             x-show="type == 'piece'">{% translate "pieces" %}</div>
        <div x-show="type == 'pack'">{% translate "packs" %}</div>
    </div>
</div>
