<div class="flex flex-row items-center justify-center flex-1 cursor-pointer"
     id="date"
     hx-swap-oob="true"
     x-data
     @click="$refs.datePicker.showPicker()">
    {{ day.date|date:"SHORT_DATE_FORMAT" }} {{ day.date|date:"l" }}
    <input class="absolute invisible"
           type="date"
           name="date"
           hx-get="{% url "food:index-days" %}"
           hx-swap="none"
           hx-push-url="true"
           hx-indicator="#indicator"
           x-ref="datePicker">
</div>
