{% load static i18n tailwind_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% translate "food"|title %}</title>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/sort@3.x.x/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <!-- Alpine Core -->
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.3"
                integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
                crossorigin="anonymous"></script>
        {% tailwind_css %}
    </head>
    <body hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
          x-data="{ isRecordModalShown: false }">
        <header class="fixed top-0 z-20 flex flex-row w-full shadow bg-white">
            <button class="flex items-center justify-center border-r border-zinc-200 size-12">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            {% include "food/date.html" %}
            <input class="border-0 border-l focus:outline-none focus:ring-0 focus:border-inherit size-12 border-zinc-200"
                   type="date"
                   name="date"
                   hx-get="{% url "food:index" %}"
                   hx-swap="none"
                   hx-push-url="true">
        </header>
        <main class="mt-12 mb-12 p-4">
            {% include "food/meals.html" %}
            <div class="flex justify-center">
                <button class="p-2 rounded-xl border-2 border-lime-500 bg-lime-300 cursor-pointer"
                        title="{% translate "Add new meal" %}"
                        hx-post="{% url "food:meals" date=day.date %}"
                        hx-target="#meals"
                        hx-swap="beforeend">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="2"
                         stroke="currentColor"
                         class="size-6 text-lime-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </button>
            </div>
        </main>
        <footer class="fixed bottom-0 block w-full h-12 border-t border-zinc-200">
        </footer>
        {% include "food/record_modal.html" with form=record_form %}
    </body>
</html>
