{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "food/output.css" %}" />
        <title>{% translate "food"|title %}</title>
    </head>
    <body>
        <main class="flex flex-col max-w-screen-sm gap-8 pt-8 mx-auto">
            {% for day in days %}
                <div>
                    <div class="bg-green-300 flex gap-4 py-2 px-4 rounded-t-xl {% if day.is_today %}!bg-purple-300{% endif %}">
                        <span>{{ day.date|date:"SHORT_DATE_FORMAT" }}</span>
                        <span>{{ day.date|date:"l" }}</span>
                    </div>
                    <div class="min-h-10 border-x-2 border-green-300 p-4 flex flex-col gap-4 {% if day.is_today %}!border-purple-300{% endif %}">
                        {% comment %} <div class="flex flex-row items-center border-2 border-green-300 rounded-xl  {% if day.is_today %}!border-purple-300{% endif %}">
                            <div class="w-2/6 text-center">{% translate "name"|capfirst %}</div>
                            {% include "food/separator.html" %}
                            <div class="flex-1 text-center">{% translate "mass"|capfirst %}</div>
                            {% include "food/separator.html" %}
                            <div class="flex-1 text-center">{% translate "protein"|capfirst %}</div>
                            {% include "food/separator.html" %}
                            <div class="flex-1 text-center">{% translate "fat"|capfirst %}</div>
                            {% include "food/separator.html" %}
                            <div class="flex-1 text-center">{% translate "carbs"|capfirst %}</div>
                            {% include "food/separator.html" %}
                            <div class="flex-1 text-center">{% translate "calories"|capfirst %}</div>
                        </div> {% endcomment %}
                        {% for meal in day.meals.all %}
                            <div class="min-h-10 rounded-xl border-2 {{ meal.tailwindcss_border_class }}">
                                {% for record in meal.records.all %}
                                    <div class="flex flex-row items-center border-b-2 py-1 last:border-none {{ meal.tailwindcss_border_class }}">
                                        <div class="w-2/6 pl-2 overflow-hidden text-nowrap"
                                             title="{{ record.item }}">{{ record.item|capfirst }}</div>
                                        {% include "food/separator.html" %}
                                        {% if record.type == record.Type.MASS %}
                                            <div class="flex-1 text-center" title="{% translate "mass" %}">
                                                {% blocktranslate with mass=record.value|floatformat %}{{ mass }}g{% endblocktranslate %}
                                            </div>
                                        {% elif record.type == record.Type.PIECE %}
                                            <div class="flex-1 text-center" title="{% translate "pieces" %}">
                                                {% blocktranslate with pieces=record.value|floatformat:-2 %}{{ pieces }} pieces{% endblocktranslate %}
                                            </div>
                                        {% elif record.type == record.Type.PACK %}
                                            <div class="flex-1 text-center" title="{% translate "packs" %}">
                                                {% blocktranslate with packs=record.value %}{{ packs }} packs{% endblocktranslate %}
                                            </div>
                                        {% endif %}
                                        {% include "food/separator.html" %}
                                        <div class="flex-1 text-center" title="{% translate "protein" %}">
                                            {% blocktranslate with mass=record.protein|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                                        </div>
                                        {% include "food/separator.html" %}
                                        <div class="flex-1 text-center" title="{% translate "fat" %}">
                                            {% blocktranslate with mass=record.fat|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                                        </div>
                                        {% include "food/separator.html" %}
                                        <div class="flex-1 text-center" title="{% translate "carbs" %}">
                                            {% blocktranslate with mass=record.carbs|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                                        </div>
                                        {% include "food/separator.html" %}
                                        <div class="flex-1 text-center" title="{% translate "calories" %}">{{ record.calories|floatformat:2 }}</div>
                                    </div>
                                {% endfor %}
                                <div class="flex flex-row items-center py-1">
                                    <div class="w-2/6"></div>
                                    <div class="flex-1 text-center"></div>
                                    {% include "food/separator.html" %}
                                    <div class="flex-1 font-semibold text-center"
                                         title="{% translate "protein" %}">
                                        {% blocktranslate with mass=meal.protein|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                                    </div>
                                    {% include "food/separator.html" %}
                                    <div class="flex-1 font-semibold text-center"
                                         title="{% translate "fat" %}">
                                        {% blocktranslate with mass=meal.fat|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                                    </div>
                                    {% include "food/separator.html" %}
                                    <div class="flex-1 font-semibold text-center"
                                         title="{% translate "carbs" %}">
                                        {% blocktranslate with mass=meal.carbs|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                                    </div>
                                    {% include "food/separator.html" %}
                                    <div class="flex-1 font-semibold text-center"
                                         title="{% translate "calories" %}">{{ meal.calories|floatformat:2 }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="flex flex-row items-center py-1 border-2 rounded-b-xl px-4 border-green-300 {% if day.is_today %}!border-purple-300{% endif %}">
                        <div class="w-2/6"></div>
                        <div class="flex-1 text-center"></div>
                        {% include "food/separator.html" %}
                        <div class="flex-1 font-bold text-center"
                             title="{% translate "protein" %}">
                            {% blocktranslate with mass=day.protein|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                        </div>
                        {% include "food/separator.html" %}
                        <div class="flex-1 font-bold text-center" title="{% translate "fat" %}">
                            {% blocktranslate with mass=day.fat|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                        </div>
                        {% include "food/separator.html" %}
                        <div class="flex-1 font-bold text-center" title="{% translate "carbs" %}">
                            {% blocktranslate with mass=day.carbs|floatformat:2 %}{{ mass }}g{% endblocktranslate %}
                        </div>
                        {% include "food/separator.html" %}
                        <div class="flex-1 font-bold text-center"
                             title="{% translate "calories" %}">{{ day.calories|floatformat:2 }}</div>
                    </div>
                </div>
            {% endfor %}
        </main>
    </body>
</html>
