{% load static i18n tailwind_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>{% translate "food"|title %}</title>
        <script defer src="{% static "food/record.js" %}"></script>
        {% if not day.is_locked %}
            <script defer src="{% static "scripts/alpine.sort.min.js" %}"></script>
        {% endif %}
        <script defer src="{% static "scripts/alpine.focus.min.js" %}"></script>
        <!-- Alpine Core -->
        <script defer src="{% static "scripts/alpine.min.js" %}"></script>
        <script src="{% static "scripts/htmx.min.js" %}" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        {% tailwind_css %}
    </head>
    <body hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
          x-data="{ isRecordModalShown: false, isBurgerMenuShown: false }">
        <header class="fixed top-0 z-40 flex flex-row w-full shadow bg-white">
            <button class="flex items-center justify-center border-r border-zinc-200 size-12"
                    @click="isBurgerMenuShown = !isBurgerMenuShown">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            {% include "food/date.html" %}
            {% include "food/day_lock.html" %}
        </header>
        <main class="mt-12 mb-12 p-4 pb-0 max-w-sm mx-auto flex flex-col items-center">
            {% include "food/weight.html" %}
            {% include "food/meals.html" %}
            {% include "food/add_meal_button.html" %}
        </main>
        {% include "food/day_summary.html" %}
        {% include "food/burger_menu.html" %}
        <div id="record-dialog"></div>
        <div id="indicator"
             class="hidden fixed [&.htmx-request]:flex justify-center items-center backdrop-blur-md w-screen h-screen z-30 top-0 left-0">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 aria-hidden="true"
                 class="size-16 fill-green-600 motion-safe:animate-spin">
                <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25" />
                <path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" />
            </svg>
        </div>
    </body>
</html>
