{% load i18n %}
<div class="z-10 h-screen w-screen fixed top-0 pt-12">
    <form class="bg-white h-full p-4 flex flex-col">
        <div class="overflow-x-scroll pb-2 mb-2">
            <div class="flex flex-row gap-2">
                {% for group in user.food_groups.all %}
                    <div class="p-2 text-nowrap border border-zinc-400 rounded-lg">{{ group.name }}</div>
                {% endfor %}
            </div>
        </div>
        <input class="w-full" type="search" name="" id="">
        <div id="items" class="flex-1"></div>
        <div>
            <input type="radio" name="" id="" >
        </div>
        <div class="flex flex-row justify-evenly">
            <button class="p-2 border border-zinc-400 rounded-xl w-24">{% translate "OK" %}</button>
            <button class="p-2 border border-zinc-400 rounded-xl w-24">{% translate "Cancel" %}</button>
        </div>
    </form>
</div>