{% load i18n %}
<div id="weight"
     hx-swap-oob="true">
    {% if not day.is_locked %}
        <article class="mb-4">
            <label for="weight-input">{% translate "weight"|capfirst %}</label>
            <input type="text"
                   name="weight"
                   id="weight-input"
                   value="{{ day.weight|default:"" }}"
                   hx-patch="{% url "food:days" date=day.date %}">
            <span>{% translate "kg" %}</span>
        </article>
    {% elif day.weight is not None %}
        <div class="mb-4">
            {% translate "weight"|capfirst %}: {{ day.weight }} {% translate "kg" %}
        </div>
    {% endif %}
</div>
