{% load static i18n tailwind_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>{% translate "tasks" %}
            {% if current_group %}- {{ current_group.name }}{% endif %}
        </title>
        {% tailwind_css %}
        <!-- Alpine Plugins -->
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/sort@3.x.x/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <!-- Alpine Core -->
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.3"
                integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
                crossorigin="anonymous"></script>
    </head>
    <body hx-boost="true">
        <main class="p-4">
            <nav class="flex flex-row justify-center gap-2 mb-4">
                {% for group in groups %}
                    {% if group == current_group %}
                        <div class="box-border flex flex-row items-center justify-center h-10 border-4 border-purple-400 bg-purple-100  text-purple-800 font-semibold min-w-24 rounded-xl">
                            {{ group.name }}
                        </div>
                    {% else %}
                        <a class="flex flex-row items-center justify-center h-10 border-2 font-semibold text-gray-600 border-gray-300 rounded-xl min-w-24"
                           href="{% url "index-tasks" group_slug=group.slug %}">{{ group.name }}</a>
                    {% endif %}
                {% endfor %}
                <a class="flex flex-row items-center justify-center h-10 border-2 border-lime-400 bg-lime-200 rounded-xl w-10"
                   href="{% url "index-tasks" group_slug="none" %}">+</a>
            </nav>
            <div class="max-w-sm mx-auto border-2 border-green-400 bg-green-100 p-4 rounded-xl">
                {% include "tasks/tasks.html" %}
            </div>
        </main>
    </body>
</html>
