<form class="flex flex-row gap-2 items-center group"
      id="task-{{ task.id }}"
      hx-post="{% url "save-task" task_id=task.id %}"
      hx-swap="outerHTML"
      hx-trigger="submit,save-task"
      x-data="{ editName: false, status: '{{ task.status }}' }">
    {% csrf_token %}
    <input type="hidden"
           name="position"
           value="{{ task.position }}"
           @task-moved.window="if ($event.detail.id == {{ task.id }}) { $el.value = $event.detail.position; $dispatch('save-task') }">
    <input type="hidden"
           name="status"
           :value="status">
    <div x-sort:handle>
        {% include "tasks/icons/ellipsis_horizontal.html" with class="size-4 opacity-0 group-hover:opacity-100 transition-all hover:text-gray-600 text-gray-400 cursor-pointer" %}
    </div>
    <div class="border-2 border-gray-300 bg-white size-6 flex flex-row justify-center items-center"
         @click="if (status == {{ task.Status.FINISHED }}) status)">
        {% with status=task.get_status %}
            {% if status == task.Status.FINISHED %}
                {% include "tasks/icons/check.html" with class="size-6 text-green-600" %}
            {% elif status == task.Status.IN_PROGRESS %}
                <div class="rounded-full size-2 bg-gray-400"></div>
            {% elif status == task.Status.FAILED %}
                {% include "tasks/icons/x_mark.html" with class="size-6 text-red-600" %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="flex-1 text-gray-700 group-hover:text-gray-950"
         x-show="!editName">{{ task.text }}</div>
    <input type="text"
           name="text"
           class="flex-1"
           value="{{ task.text }}"
           x-ref="nameInput"
           x-show="editName">
    <div class="flex flex-row gap-2 text-gray-400 opacity-0 group-hover:opacity-100 transition-all">
        <div @click="if (editName) { editName = false; $dispatch('save-task'); } else { editName = true; $focus.focus($refs.nameInput); $refs.nameInput.selectionStart = $refs.nameInput.selectionEnd = $refs.nameInput.value.length; }">
            {% include "tasks/icons/pencil_square.html" with class="size-4 hover:text-gray-600 cursor-pointer transition-all" %}
        </div>
        {% include "tasks/icons/x_mark.html" with class="size-4 hover:text-gray-600 cursor-pointer transition-all" %}
    </div>
</form>
