<div class="flex flex-col gap-2"
    x-sort="$item.position = $position"
    x-data="{ parent: null }"
    x-modelable="parent"
    x-model="{{ parent_model|default:"{}" }}">
    {% for task in tasks %}
        <div x-sort:item="$data"
             x-data="{ editName: false, status: '{{ task.status }}', text: '{{ task.text }}', position: '{{ task.position }}', get displayStatus() { if (!parent) { return status; } return parent.status; } }">
            <form class="flex flex-row items-center gap-2 group"
                  id="task-{{ task.id }}"
                  hx-post="{% url "save-task" task_id=task.id %}"
                  hx-swap="none"
                  hx-trigger="submit,save-task">
                {% csrf_token %}
                <input type="hidden"
                       name="position"
                       x-model="position"
                       x-init="$watch('position', () => $dispatch('save-task'))">
                <input type="hidden"
                       name="status"
                       x-model="status"
                       x-init="$watch('status', () => $dispatch('save-task'))">
                <div x-sort:handle>
                    {% include "tasks/icons/ellipsis_horizontal.html" with class="text-gray-400 transition-all opacity-0 cursor-pointer size-4 group-hover:opacity-100 hover:text-gray-600" %}
                </div>
                <div class="relative flex flex-row justify-center group/square">
                    <div class="flex flex-row items-center justify-center bg-white border-2 border-gray-300 size-6"
                         :class="{ 'bg-gray-50 border-gray-200': status == '{{ task.Status.CANCELLED }}' }"
                         @click="() => {switch (status) { case '{{ task.Status.CANCELLED }}': break; case '{{ task.Status.ACTIVE }}': case '{{ task.Status.IN_PROGRESS }}': status = '{{ task.Status.FINISHED }}'; break; default: status = '{{ task.Status.ACTIVE }}' }}">
                        {% for status, status_icon_template_name in task.STATUS_ICON_TEMPLATE_NAMES.items %}
                            <div x-show="status == '{{ status }}'">{% include status_icon_template_name %}</div>
                        {% endfor %}
                    </div>
                    <div class="absolute flex-row items-center hidden h-10 gap-1 px-2 py-1 bg-white border border-gray-300 rounded-lg -top-10 group-hover/square:flex hover:flex focus:flex"
                         x-show="status != '{{ task.Status.CANCELLED }}'">
                        {% for status, status_icon_template_name in task.STATUS_ICON_TEMPLATE_NAMES.items %}
                            <div class="flex flex-row items-center justify-center rounded-sm cursor-pointer hover:outline outline-gray-300 size-6"
                                 @click="status = '{{ status }}'">{% include status_icon_template_name %}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="flex-1 text-gray-700 group-hover:text-gray-950"
                     :class="{ 'line-through !text-gray-400 group-hover:!text-gray-600': status == '{{ task.Status.CANCELLED }}', '!text-gray-400 group-hover:!text-gray-600': status == '{{ task.Status.FAILED }}' }"
                     x-show="!editName"
                     x-text="text"></div>
                <input type="text"
                       name="text"
                       class="flex-1"
                       x-model="text"
                       x-ref="nameInput"
                       x-show="editName"
                       @focus="$el.selectionStart = $el.selectionEnd = $el.value.length">
                <div class="flex flex-row gap-2 text-gray-400 transition-all opacity-0 group-hover:opacity-100">
                    <div @click="if (editName) { editName = false; } else { editName = true; $focus.focus($refs.nameInput); }">
                        {% include "tasks/icons/pencil_square.html" with class="transition-all cursor-pointer size-4 hover:text-gray-600" %}
                    </div>
                    <div @click="status = '{{ task.Status.CANCELLED }}'"
                         x-show="status != '{{ task.Status.CANCELLED }}'">
                        {% include "tasks/icons/strikethrough.html" with class="transition-all cursor-pointer size-4 hover:text-gray-600" %}
                    </div>
                    <div @click="status = '{{ task.Status.ACTIVE }}'"
                         x-show="status == '{{ task.Status.CANCELLED }}'">
                        {% include "tasks/icons/arrow_uturn_right.html" with class="transition-all cursor-pointer size-4 hover:text-gray-600" %}
                    </div>
                    <div>{% include "tasks/icons/trash.html" with class="transition-all cursor-pointer size-4 hover:text-gray-600" %}</div>
                </div>
            </form>
            {% if task.children.count > 0 %}
                <div class="mt-2 ml-8">{% include "tasks/tasks.html" with tasks=task.children.all parent_model="$data" %}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>
